<table width="450" height="120" bgcolor="#2F3543" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
    <tr>
        <td height="120" width="10" valign="top"> <div><img src="grafica/1px.gif" width="10" height="120" border="0" style="display:block;"></div> </td>
        <td height="120" width="150" valign="top">
            <div><img src="grafica/1px.gif" width="150" height="20" border="0" style="display:block;"></div>
            <div><img src="grafica/batman/batman.png" alt="Batman" width="150" height="81" border="0" style="display:block;"></div> 
            <div><img src="grafica/1px.gif" width="150" height="19" border="0" style="display:block;"></div> 
        </td>
        <td height="120" width="10" valign="top"> <div><img src="grafica/1px.gif" width="10" height="120" border="0" style="display:block;"></div> </td>
        <td height="120" width="280" valign="top">
            <div><img src="grafica/1px.gif" width="280" height="3" border="0" style="display:block;"></div>
            <div style="font-size: 16px; line-height: 30px; font-weight: bold; color:#FCFCFC;">Nahuel Ballari</div>
            <div style="font-size: 11px; line-height: 10px; color: #f3cb13;">Desarrollador PHP</div>
            <div><img src="grafica/1px.gif" width="280" height="8" border="0" style="display:block;"></div>
            <table width="280" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="52" height="30" valign="top">
                        <div><img src="grafica/batman/wham.png" alt="Wham" width="52" height="30" border="0" style="display:block;"></div> 
                    </td>
                    <td height="15" width="5" valign="top"> <div><img src="grafica/1px.gif" width="5" height="15" border="0" style="display:block;"></div> </td>
                    <td width="225" valign="middle">
                        <!-- <div><img src="grafica/1px.gif" width="225" height="6" border="0" style="display:block;"></div> -->
                        <a href="mailto:nballari@teceng-gaming.com.ar" style="font-size: 11px; color:#FCFCFC !important; text-decoration: none !important; outline: none !important;">nballari@teceng-gaming.com.ar</a>
                    </td>
                </tr>
            </table>
            <!-- <div><img src="grafica/1px.gif" width="280" height="7" border="0" style="display:block;"></div> -->

            <table width="280" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="52" height="30" valign="top">
                        <div><img src="grafica/batman/kapow.png" alt="Kapow!" width="52" height="30" border="0" style="display:block;"></div> 
                    </td>
                    <td height="15" width="5" valign="top"> <div><img src="grafica/1px.gif" width="5" height="15" border="0" style="display:block;"></div> </td>
                    <td width="225" valign="middle">
                        <div style="font-size: 11px; color:#FCFCFC !important; text-decoration: none !important;">Interno 580</div>
                    </td>
                </tr>
            </table>
            <div><img src="grafica/1px.gif" width="280" height="9" border="0" style="display:block;"></div>
        </td>
    </tr>
</table>
<table height="11" width="450" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td bgcolor="#f3cb13" height="2" width="450"> <div><img src="grafica/1px.gif" width="450" height="2" border="0" style="display:block;"></div> </td>
    </tr>
    <tr>
        <td bgcolor="#2F3543" height="9" width="450"> <div><img src="grafica/1px.gif" width="450" height="9" border="0" style="display:block;"></div> </td>
    </tr>
</table>
<table width="450" height="37" bgcolor="#2F3543" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
    <tr>
        <td height="37" width="10" valign="top"> <div><img src="grafica/1px.gif" width="10" height="37" border="0" style="display:block;"></div> </td>
        <td height="30" width="30" valign="top"> <div><img src="grafica/batman/joker.png" alt="Joker" width="30" height="30" border="0" style="display:block;"></div> </td>
        <td height="35" width="15" valign="top"> <div><img src="grafica/1px.gif" width="15" height="35" border="0" style="display:block;"></div> </td>
        <td height="35" width="395" valign="top">
            <div><img src="grafica/1px.gif" width="395" height="5" border="0" style="display:block;"></div>
            <a href="https://maps.google.com/?q=Av.+Triunvirato+3060,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina" target="_blank" style="font-size: 9px; color:#FCFCFC !important; line-height: 18px; text-decoration: none !important; outline: none !important;">Av. Triunvirato 3060, Ciudad Aut&oacute;noma de Buenos Aires, Argentina</a>
        </td>
    </tr>
</table>