<table width="450" height="120" bgcolor="#2F3543" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
    <tr>
        <td height="120" width="10" valign="top"> <div><img src="grafica/1px.gif" width="10" height="120" border="0" style="display:block;"></div> </td>
        <td height="120" width="150" valign="top">
            <div><img src="grafica/1px.gif" width="150" height="25" border="0" style="display:block;"></div>
            <div><img src="grafica/nightrider-escalado.png" alt="I am the Night Rider!" width="150" height="75" border="0" style="display:block;"></div> 
            <div><img src="grafica/1px.gif" width="150" height="20" border="0" style="display:block;"></div> 
        </td>
        <td height="120" width="10" valign="top"> <div><img src="grafica/1px.gif" width="10" height="120" border="0" style="display:block;"></div> </td>
        <td height="120" width="280" valign="top">
            <div><img src="grafica/1px.gif" width="280" height="5" border="0" style="display:block;"></div>
            <div style="font-size: 16px; line-height: 30px; font-weight: bold; color:#FCFCFC;">Nahuel Ballari</div>
            <div style="font-size: 11px; line-height: 10px; color: #0AC5A8;">Desarrollador PHP</div>
            <div><img src="grafica/1px.gif" width="280" height="14" border="0" style="display:block;"></div>
            <table width="280" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="47" height="15" valign="top">
                        <div><img src="grafica/interceptor2.png" alt="Interceptor" width="47" height="15" border="0" style="display:block;"></div> 
                    </td>
                    <td height="15" width="5" valign="top"> <div><img src="grafica/1px.gif" width="5" height="15" border="0" style="display:block;"></div> </td>
                    <td width="225" valign="top">
                        <a href="mailto:nballari@teceng-gaming.com.ar" style="font-size: 11px; color:#FCFCFC !important; text-decoration: none !important; outline: none !important;">nballari@teceng-gaming.com.ar</a>
                    </td>
                </tr>
            </table>
            <div><img src="grafica/1px.gif" width="280" height="7" border="0" style="display:block;"></div>

            <table width="280" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="47" height="27" valign="top">
                        <div><img src="grafica/giga.png" alt="Gigahorse" width="47" height="27" border="0" style="display:block;"></div> 
                    </td>
                    <td height="15" width="5" valign="top"> <div><img src="grafica/1px.gif" width="5" height="15" border="0" style="display:block;"></div> </td>
                    <td width="225" valign="middle">
                        <div style="font-size: 11px; color:#FCFCFC !important; text-decoration: none !important;">Interno 580</div>
                    </td>
                </tr>
            </table>
            <div><img src="grafica/1px.gif" width="280" height="9" border="0" style="display:block;"></div>
        </td>
    </tr>
</table>
<table height="10" width="450" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td bgcolor="#0AC5A8" height="1" width="450"> <div><img src="grafica/1px.gif" width="450" height="1" border="0" style="display:block;"></div> </td>
    </tr>
    <tr>
        <td bgcolor="#2F3543" height="12" width="450"> <div><img src="grafica/1px.gif" width="450" height="12" border="0" style="display:block;"></div> </td>
    </tr>
</table>
<table width="450" height="35" bgcolor="#2F3543" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
    <tr>
        <td height="35" width="15" valign="top"> <div><img src="grafica/1px.gif" width="15" height="35" border="0" style="display:block;"></div> </td>
        <td height="25" width="25" valign="top"> <div><img src="grafica/volante.png" alt="Volante" width="25" height="25" border="0" style="display:block;"></div> </td>
        <td height="35" width="15" valign="top"> <div><img src="grafica/1px.gif" width="15" height="35" border="0" style="display:block;"></div> </td>
        <td height="35" width="395" valign="top">
            <div><img src="grafica/1px.gif" width="395" height="2" border="0" style="display:block;"></div>
            <a href="https://maps.google.com/?q=Av.+Triunvirato+3060,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina" target="_blank" style="font-size: 9px; color:#FCFCFC !important; line-height: 18px; text-decoration: none !important; outline: none !important;">Av. Triunvirato 3060, Ciudad Aut&oacute;noma de Buenos Aires, Argentina</a>
        </td>
    </tr>
</table>